<html>
<head>
	<title>Index of #TITLES</title>
	<style>
		* {
			font-family: #FONTS;
			background-color: #BGCOLOR;
		}
		table tbody tr:nth-child(odd) {
			background-color: #ODDEVEN;/* #C9E4F6 фон нечетных строк */
		}
		table tbody tr:nth-child(even) {
			background-color: white;/* фон четных строк */
		}
	</style>
</head>
<body>
	<h1>Index of #DIRS</h1>
	<hr>
	<table>
		<col width="900px">
		<col width="150px">
		<col width="150px">
		<col width="50px">
		<tr>
			<th align="left">Filename</th>
			<th align="left">Premissions</th>
			<th align="left">Last modified</th>
			<th align="left">Size</th>
		</tr>
		<tr>
			<td><p style="display: none">#FILENAME</p><img style="margin-right: 5px; max-width: 20px" src="data:image/png;base64, #IMAGE" /><a href="#FILENAME">#FILENAME</a></td>
			<td>#PERMISSIONS</td>
			<td>#MODIFIED</td>
			<td>#SIZE</td>
		</tr>
	</table>
	<hr>
	<span style="font-size: 12px">powered by </span><a style="font-size: 12px" href="#">genindex #VERSIONS</a></span>
</body>
</html>
